<% content_for :head_js do %>
<% end %>

<% content_for :sidemenu do %>
  <div class="list-group mb-3">
    <a class="list-group-item" href="#">ユーザー管理</a>
    <a class="list-group-item" href="#">プロジェクト管理</a>
    <a class="list-group-item" href="#">その他</a>
  </div>
<% end %>

<%= render :template => 'layouts/application_base', locals: {hidden_project: true} %>
