source/**/vendor/bundle/*
source/**/node_modules/*
source/**/log/*
source/**/tmp/*
source/**/test/fixtures/carrierwave/*
source/**/public/uploads/*
source/**/storage/*
source/**/config/myconf.yml

deploy/config
deploy/repository
deploy/source.tar.gz

uploads/*

!/**/.keep