source/**/vendor/bundle/*
source/**/node_modules/*
source/**/log/*
source/**/tmp/*
source/**/uploads/*
source/**/config/myconf.yml

deploy/config
deploy/repository
deploy/source.tar.gz

uploads/*

!/**/.keep