<% content_for :head_js do %>
<% end %>

<% content_for :sidemenu do %>
  <div class="list-group mb-4">
    <a class="list-group-item active" href="#">リスト</a>
    <a class="list-group-item" href="#">カレンダー</a>
  </div>
<% end %>

<%= render :template => 'layouts/application_has_menu' %>
