<h1>Editing Ticket</h1>

<%= render 'form', ticket: @ticket %>

<div class="mt-4">
  <%= link_to(t('text.action.back'), tickets_path, class: "btn btn-primary mr-3") %>
  <%= link_to(t('text.action.show'), ticket_path(@ticket), class: "btn btn-primary mr-3") %>
</div>