default: &default
  secret_key_base: xxxyyyzzz
  db_username: root
  db_password: root
  db_host: db
  db_database: rails_app_dev
  developer_emails: admin@example.com,admin2@example.com

production:
  <<: *default
  secret_key_base: xxxyyyzzz # must change
  db_database: rails_app_prd
  # use gmail(gmail側で安全性の低いアプリからのアクセスを許可) https://myaccount.google.com/lesssecureapps
  smtp_settings:
    enable_starttls_auto: true
    domain: smtp.gmail.com
    address: smtp.gmail.com
    port: 587
    authentication: plain
    user_name: xxx
    password: xxx
  mail_from: from@example.com
  default_url_options:
    protocol: https
    host: xxx # production domain


development:
  <<: *default
  db_database: rails_app_dev
  # use MailCatcher
  smtp_settings:
    address: mail
    domain: mail
    port: 1025
  mail_from: from@example.dev.com
  default_url_options:
    protocol: http
    host: localhost
    port: 8081

test:
  <<: *default
  db_database: rails_app_test
  mail_from: from@example.test.com