<%
# パスワードテキストフィールド
# @params form        [form_helper]
# @params row         [any]
# @params field_name  [string]
# @params label_name  [string]
# @params placeholder [string]
# @params autofocus   [any]
# @params required    [any]

label_name = (label_name.present?) ? label_name.to_s : nil

options = {}
options[:class] = "form-control"
options[:autocomplete] = "off"
options[:autofocus] = true if defined?(autofocus)
options[:required] = true if defined?(required)
options[:placeholder] = placeholder if defined?(placeholder)
%>


<%# ラベル横並び %>
<% if defined?(row) %>
  <div class="form-group row">
    <%= form.label(field_name, label_name, class: "col-form-label col-md-2 #{('required' if options[:required])}") %>
    <div class="col-md-10">
      <%= form.password_field(field_name, options) %>
    </div>
  </div>

<%# ラベル縦並び %>
<% else %>
  <div class="form-group">
    <%= form.label(field_name, label_name, class: "col-form-label #{('required' if options[:required])}") %>
    <%= form.password_field(field_name, options) %>
  </div>
<% end %>