<%
# 日付け選択
# @params form        [form_helper]
# @params row         [any]
# @params field_name  [string]
# @params label_name  [string]

label_name = field_name if label_name.nil?
%>

<%# ラベル横並び %>
<% if defined?(row) %>
  <div class="form-group row">
    <%= form.label(label_name, :class => "col-form-label col-md-2") %>
    <div class="col-md-5">
      <div class="input-group view_parts__form__input_date">
        <%= form.text_field(field_name, :style => "background-color:#fff", :class => "form-control", :data => { :input => "" }) %>
        <div class="input-group-append" data-toggle>
          <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
        </div>
        <div class="input-group-append" data-clear>
          <span class="input-group-text"><i class="fas fa-times"></i></span>
        </div>
      </div>
    </div>
  </div>

<%# ラベル縦並び %>
<% else %>
  <div class="form-group">
    <%= form.label(label_name) %>
    <div class="input-group view_parts__form__input_date">
      <%= form.text_field(field_name, :style => "background-color:#fff", :class => "form-control", :data => { :input => "" }) %>
      <div class="input-group-append" data-toggle>
        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
      </div>
      <div class="input-group-append" data-clear>
        <span class="input-group-text"><i class="fas fa-times"></i></span>
      </div>
    </div>
  </div>
<% end %>

<% if @view_parts[__FILE__].nil? %>
  <% @view_parts[__FILE__] = true %>

  <script>
    $(document).ready(function(){
      flatpickr(".view_parts__form__input_date", { wrap: true });
    });
  </script>
<% end %>