<% content_for :head_js do %>
<% end %>

<% content_for :sidemenu do %>
<div class="card mb-4">
  <div class="card-header">
    システム管理
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item" href="#">ユーザー管理</a>
    <a class="list-group-item <%= "active" if controller_name == "notifications" %>" href="<%= admin_notifications_path %>">お知らせ通知</a>
  </div>
</div>
<% end %>

<%= render(template: 'layouts/application_has_menu', locals: {hidden_project: true}) %>
