<h2>Edit Icon</h2>
<%= form_for(current_user, url: profile_edit_image_url, html: {method: :post, multipart: true}) do |form| %>

  <%= render(partial: "view_parts/form/input_file", locals: {form: form, field_name: :image_path}) %>

  <div>
    <%= form.submit "Update", :class => "btn btn-primary" %>
  </div>
<% end %>