<% if notice.present? %>
<p class="alert alert-info alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= simple_format(notice, {}, {wrapper_tag: "span"}) %>
</p>
<% end %>

<% if alert.present? %>
<p class="alert alert-danger" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= simple_format(alert, {}, {wrapper_tag: "span"}) %>
</p>
<% end %>
